<button class="btn btn-primary" (click)="playQuiz()" *ngIf="showPlayButtonFlag==true">Play Quiz</button>
<div class="card" *ngIf="quizStartFlag==true">
    

    <div class="card-body">

        <div>
            {{qdata.question}}
        </div>
    <br/>
        <div> 
                <button clas="btn  col-2" style="padding: 5px; background-color: {{option1Bg}}" value="{{qdata.option1}}" (click)="submitAnsOption1(qdata.option1)">{{qdata.option1}}</button>
                        &nbsp;&nbsp;
                <button clas="btn  col-2" style="padding: 5px;background-color: {{option2Bg}}" (click)="submitAnsOption2(qdata.option2)">{{qdata.option2}}</button>
                &nbsp;&nbsp;

        </div>
        <br/>

        <div> 
            <button clas="btn col-2 " style="padding: 5px;background-color: {{option3Bg}}" (click)="submitAnsOption3(qdata.option3)">{{qdata.option3}}</button>
                    &nbsp;&nbsp;
            <button clas="btn col-2 " style="padding: 5px;background-color: {{option4Bg}}" (click)="submitAnsOption4(qdata.option4)">{{qdata.option4}}</button>
            &nbsp;&nbsp;

    </div>


    <br/>
    <br/>

    <div>

        <button class="btn btn-info " [disabled]="!answerSelectedFlag"(click)="validateAns()"> Submit</button>&nbsp;
      
    
    <button class="btn btn-primary" (click)="next()" [disabled]="!answerSelectedFlag" *ngIf="showPlayButtonFlag==false" >Next</button>
   
    </div>



    </div>
</div>
<div class="card" *ngIf="quizCompleteFlag==true">
    <div class="card-body">
        <tr>
            <button class="btn btn-primary" (click)="replay()">Replay</button>
        </tr>
        <tr>
        
            <td>
                <h1>You have completed test</h1>

            </td>
        </tr>
        <tr>
            <td>
        <h4>Your score is : {{userScore}}</h4>
    </td>
    </tr><br>
    <tr>
        <td>
            <h1>Top Scores</h1>
        </td><br>
        <table class="table">
        <thead>
            <tr>
              <th style="width: 300px;">Name</th>
              <th style="width: 300px;">Score</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let i of topScoreList">
              <td>{{i.userName}}</td>
              <td>{{i.score}}</td>
            </tr>
          </tbody>
        </table>
    </tr>
    </div>
</div>

